

h1 {
    color: darkorange;
}

.bin {
    font-size: 50px;
}

.input {
    font-size: 25px;
}

.table {
    text-align: center;
}

th {
    font-size: 20px;
}

td {
    min-width: 100px;
}

.text {
    width: 100%;
}

.submit {
    margin-top: 25px;
}