

h1 {
    color: darkorange!important;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    padding-top: 70px;
    padding-left: 40px;
    padding-bottom: 100px;
}

a {
    font-size: 30px;
}

.anekdot-action {
    color: darkorange;
    text-decoration: none;
    font-weight: 800;
}

.link {
    display: inline-block;
    padding: 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    background-color: darkorange;
    transition: 1s;
}

.bin {
    font-size: 50px;
}

.input {
    font-size: 25px;
}

.table {
    text-align: center;
}

.stroke-fix {
    border: 1px saddlebrown;
}

.table-button {
    border-bottom-style: hidden!important;
    border-top-style: hidden!important;
    border-right-style: hidden!important;
}

th {
    font-size: 20px;
}

td, th {
    min-width: 100px;
    vertical-align: middle;
}

.text {
    width: 100%;
}

.submit {
    margin-top: 25px;
}
